<!DOCTYPE html>

<html lang="@Html.getUICulture()">
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Log in</title>
    </head>
    <body>
        <div>

        </div>
    </body>
</html>

@RenderBody()
