@model Penates.Models.ViewModels.Inventory.InventoryViewModel
@using Penates.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html>
<head>
    <title>@Html.Resource("Title")</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-extension.css" rel="stylesheet" />

    <script src="~/Scripts/Plugins/autocomplete.js"></script>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui-extension.css" rel="stylesheet" />

    <script src="~/Scripts/Plugins/globalParams.js"></script>
    <meta charset=utf-8 />
    
    <script type="text/javascript" title="Global Parameters">
    var globalParams = new ParametrosGlobales();
    </script>

    <script type="text/javascript" title="Clear Form Data">
    $(document).ready(function () {
        sessionStorage.clear();
    });
    </script>

    
</head>
<body>
    
</body>
</html>