<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="PenatesConnectionString" connectionString="Data Source=santy-datacenter.redirectme.net,23335;Initial Catalog=Penates;User ID=Penates;Password=P@$$w0rd"
        providerName="System.Data.SqlClient" />
  <add name="PenatesEntities" connectionString="metadata=res://*/Database.PenatesModel.csdl|res://*/Database.PenatesModel.ssdl|res://*/Database.PenatesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=santy-datacenter.redirectme.net,23335;initial catalog=Penates;user id=Penates;password=P@$$w0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  <add name="PenatesConnectionString" connectionString="Data Source=SANTY-SERVER,23334;Initial Catalog=Penates;User ID=Penates;Password=P@$$w0rd"
        providerName="System.Data.SqlClient" />
  <add name="PenatesEntities" connectionString="metadata=res://*/Database.PenatesModel.csdl|res://*/Database.PenatesModel.ssdl|res://*/Database.PenatesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SANTY-SERVER,23334;initial catalog=Penates;user id=Penates;password=P@$$w0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>